apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
        - name: auth-service
          image: auth-service:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            - name: SERVER_PORT
              value: "8080"
            - name: SPRING_DATASOURCE_URL
              value: ${SPRING_DATASOURCE_URL}
            - name: SPRING_DATASOURCE_USERNAME
              value: ${SPRING_DATASOURCE_USERNAME}
            - name: SPRING_DATASOURCE_PASSWORD
              value: ${SPRING_DATASOURCE_PASSWORD}
            - name: SPRING_JPA_HIBERNATE_DDL_AUTO
              value: ${SPRING_JPA_HIBERNATE_DDL_AUTO}
            - name: SPRING_JPA_DATABASE_PLATFORM
              value: ${SPRING_JPA_DATABASE_PLATFORM}
            - name: JWT_SECRET
              value: ${JWT_SECRET}
