name: Backend CI

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Make mvnw executable
        working-directory: services/auth-service
        run: chmod +x mvnw

      - name: Build auth-service
        working-directory: services/auth-service
        run: ./mvnw clean package -DskipTests
